footer {
  display: flex;
  flex-direction: column;
  padding: 50px calc((100% - 850px) / 2);
  border-top: 8px solid $border-section-color;
  color: $grey;

  .footer {
    margin: 0px 40px;
  }

  a {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-links {
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .links {
      display: flex;
      flex-direction: column;

      a {
        @include font-size(13);
        margin: 10px 0;
      }
    }
  }

  .language-choose {
    padding: 15px !important;
  }

  #language {
    color: $grey !important;
    font-size: 1rem !important;

    option {
      background-color: $bg-body !important;
    }
  }

  #eu {
    @include font-size(13);
    line-height: 20px;
    margin-top: 20px;
  }
}
